{#
  Available variables:
  params
    page - page number
    limit - items per page
    term_name - Term name
    term_link - Term link
    tid - Term ID
    numFound - length of the list of elements,
    start - offset,
    docs - list of elements
      tm_field_decision_number
      is_nid
      ss_search_api_url
      tm_title
#}

<div class="gpleo-content-header">
  <span class="num-found">{{ params.numFound }}</span>
  <span class="tab-label">{{ 'Treaty decisions'|t }}</span>
  <span class="simple-text">{{ 'tagged with'|t }}</span>
  <span class="term-link">{{ params.term_link }}</span>
</div>
<div class="gpleo-content">
  {% for doc_item in params.docs %}
    <div class="gpleo-tab-content-row">
      {{ doc_item }}
    </div>
  {% endfor %}
</div>
<div class="gpleo-content-footer col-sm-12">
  <div class="row">
    <div class="gpleo-content-read-more col-sm-5 text-left">
      <a href="{{ informea_term_link }}">{{ 'See more results on in InforMEA'|t }}</a>
    </div>
    <div class="gpleo-content-pager col-sm-7 text-right" gpleo-items="{{ params.numFound }}" gpleo-limit="{{ params.limit }}" gpleo-page="{{ params.page }}"></div>
  </div>
</div>

