
<div class="container">
  <div class="row">
    <div class="col-left col-sm-4">
      {% if content.label_display %}
        <h2 class="block-title">{{ content.label }}</h2>
      {% endif %}
    </div>
    <div class="col-right col-sm-8">
      <div class="form-group">
        <div class="contextual-region view view-homepage-courses view-id-homepage_courses view-display-id-elearning_block js-view-dom-id-4b58f3fd9ecd7a39cdecddcb8aa4ff299708dc3addffd7ba595da0dc8c1cde30">
          <div class="view-content">
            <div class="views-row">
              <article role="article" class="contextual-region course is-promoted teaser clearfix">
                <h2>
                  <a href="{{ content.main_title_url }}" rel="bookmark">
                    <span>{{ content.main_title }}</span>
                  </a>
                </h2>
                <div class="content">
                  <div class="field field--name-body field--type-text-with-summary field--label-hidden field--item">{{ content.description }}</div>
                  <div class="field field--name-field-video field--type-entity-reference field--label-hidden field--item">
                    <div class="contextual-region eck-entity">
                      <div class="field field--name-field-video field--type-video-embed-field field--label-hidden field--item">
                        <div data-video-embed-field-lazy="
<div class=&quot;video-embed-field-provider-youtube video-embed-field-responsive-video form-group&quot;>
<iframe width=&quot;854&quot; height=&quot;480&quot; frameborder=&quot;0&quot; allowfullscreen=&quot;allowfullscreen&quot; src=&quot;https://www.youtube.com/embed/6DTJ5h3vx6o?autoplay=0&amp;amp;start=41&amp;amp;rel=0&quot;></iframe>
</div>
" class="video-embed-field-lazy form-group">
                          <img src="{{ content.image_url }}" alt="" class="img-responsive">
                          <div class="video-embed-field-lazy-play"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="more-link see-course">
                  <a href="{{ content.action_button_link }}" class="btn btn-outline btn-secondary">{{ content.action_button }}</a>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
